body {
    background: #ffebee; /* แดงอ่อน */
  }
  
  header, footer {
    background-color: #d32f2f; /* แดงเข้ม */
    color: white;
  }
  
  nav {
    background: #ffcdd2; /* แดงกลาง */
  }
  
  nav a {
    color: #b71c1c;
  }
  
  nav a:hover {
    color: #d32f2f;
  }
  
  article {
    background-color: #ffffff;
  }